
$nav-color: #DFDCD7;
$dark-color: #212322;
$background-color: #F1F0EE;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* ***************************************************
*       FONTS
******************************************************/
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.hanken-grotesk-uniquifier {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}    
  

/* ***************************************************
*       BODY
******************************************************/
body{
    margin: 0 auto;
    background-color: $background-color;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: $background-color;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $nav-color;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $background-color;  /* creates padding around scroll thumb */
  }

/* ***************************************************
*       NAV
******************************************************/

  /* BANNER*/
.sticky{
    position: sticky;
    top: 0;
    
    // z-index: 1;
}
.page-banner{
    width: 100%;
    background-color: $dark-color;
    padding: 2rem;
    box-sizing: border-box;
    position:unset;
}

.page-banner > h4{
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* MENU */
nav{
    background-color: $nav-color;
    width: 100%;

}

.menu-nav{
    display: flex;
    padding: 0;
    margin: 0px;
}

.menu-nav > li{
    list-style: none;
    padding: 10px;
}

.menu-option:hover{
     a.menu-link{
      color: #939393;
    }
  }

a.menu-link{
    text-decoration: none;
    color: $dark-color;
}

/* PAGE NAME */
.page-name{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.page-name > h4{
    letter-spacing: 10px;
    font-size: 12px;
}

.page-name button{
    border: none;
    background-color: $dark-color;
    color: whitesmoke;
    width: 9rem;
    padding: 5px;
}

.page-name button:hover{
    background-color: $nav-color;
    color: $dark-color;
    
}

hr{
    color: $dark-color;
    border: solid 1px $dark-color;
    width: 100%x;
    opacity: 1;
}

/* ***************************************************
*      MAIN
******************************************************/
.main-img{
    width: 100%;
    display: flex;
    margin: 50px 0 35px 0;

}

.main-img img{
    width: 50rem;
    margin: auto;
    box-sizing: border-box;
}

/* page-info */
.page-info{
    text-align: center;
    box-sizing: border-box;
    padding: 15px 12%;
    margin-bottom: 10px;
}

.page-info button , .cartel button{
    border: 1px solid $dark-color;
    color: $dark-color;
    width: 7rem;
    padding: 7px;
}

.page-info button:hover{
    background-color: $nav-color;
}

/* square-title */
.square-title{
    margin: 10px 70px;
}

/* square-grid */
.square-grid{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 250px;
    gap: 20px;
    padding: 25px 10%;
}

.square{
    padding: 20px;
}

.square h2{
    font-size: 240%;
}

.black{
    background-color: $dark-color;
    color: whitesmoke;
}

.white{
    background-color: $background-color;
    color: $dark-color;
    border: solid $dark-color 1px;
    
}

/* ***************************************************
*      FOOTER
******************************************************/
footer{
    display: flex;
    align-items:center;
    margin: 10px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 25px;
    justify-content: center;
}

.cartel{
    background-color: $dark-color;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 200px;
    padding: 25px;
    z-index: 1;
    position: relative;
    left: 40px;
    top: 10px;
}

.cartel-img{
    width: 75vh;  
}

.cartel-img img{
    width: 100%;
}

@media only screen and (max-width: 740px) {
    .main-img img{
        width: 85%;
    }

    .square-grid{
        grid-template-columns:  50vw;
        grid-template-rows: repeat(3, 270px);
        justify-content: center;
    }
}


@media only screen and (min-width: 650px) and (max-width: 987px){
    .square-grid{
        grid-template-columns:  50vw;
        grid-template-rows: repeat(3, 270px);
        justify-content: center;
    }
}

@media only screen and (max-width: 445px) {
    .page-banner > h4{
        font-size: 45%;
    }

    a.menu-link{
        font-size: 55%;
    }

    .page-name > h4{
        letter-spacing: 10px;
        font-size: 64%;
    }
    
    .page-name button{
        width: 5rem;
        padding: 5px;
        font-size: 50%;
    }

    .square-grid{
        grid-template-columns:  35vh;
        grid-template-rows: repeat(3, 270px);
        justify-content: center;
    }

    footer{
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .cartel{
        height: 150px;
        left: 10px;
    }

    .cartel h2{
        font-size: medium;
    }

    .cartel  p, a{
        font-size: small;
    }

    .black{
        background-color: aqua;
    }
}